/vendor
/node_modules
/.composer
/composer.phar
/composer-setup.php
/public/hot
/public/storage
/public/angular-build
/public/app
/storage/*.key
/storage/logs/*.log
/.env
/.phpunit.result.cache
~$*.docx
/docs/testplan-render-*
/.env.backup
/.phpunit.cache
/bootstrap/cache/*.php
